html,
body,
#app {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  letter-spacing: 0em;
  font-family: "Avenir Next", "Helvetica Neue", sans-serif;
  line-height: 1.55rem;
  font-feature-settings: "liga"1, "calt"0;
}

/* header */
header.top-nav {
  z-index: 1;
  background-color: #0079c1;
  width: 100%;
  position: relative;
  font-weight: 400;
  font-style: normal;
  border-bottom: 1px solid #efefef;
}

@media (max-width: 600px) {
  .toolbar-title {
    display: none;
  }
}

.top-nav-title {
  float: left;
  margin-right: 1.5rem;
  padding-top: 1.125rem;
  padding-bottom: 1.25rem;
  line-height: 1.5rem;
  margin-left: 1rem;
}

.top-nav-title,
.top-nav-link {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* map view */
.main,
.webmap {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  flex-direction: column;
}

.esri-view-root {
  width: 100%;
  height: 100%;
}