.webmap-animating {
  bottom: 30px;
}

.animationControls {
  display: none;
  box-sizing: border-box;
  padding: 0.5rem;
  width: 100%;
  flex-direction: row;   
  align-items: center;
  justify-content: center;
  background: lightgray; 
  border: 1px gray solid;
}

.animationControls-animating {
  display: flex;
}

#animationLabel {
  flex: initial;
  width: 200px;
  order: 1;
  text-align: center;
  font-family: "system-ui";
}

#animationPlayButton {
  flex: initial;
  width: 100px;
  order: 3;
  margin: 0 5px 0 5px;
}

#animationSlider {
  flex: auto;
  order: 2;
}

.warning {
  font-family: "system-ui";
  padding: 5px;
  background: lightgoldenrodyellow;
  border: 1px goldenrod solid;
  min-width: 200px;
}

.smartMappingSlider {
  background-color: white;
  padding: 10px;
  text-align: center;
}

/* Turn off the blue focus ring on map focus.  See "main.css" in the SDK themes. */
.esri-view .esri-view-surface--inset-outline:focus::after {
  outline: none;
}